services:
  postgres-better:
    image: postgres:18
    container_name: postgres-better
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql      
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: flashcards_db
    
